{
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
